@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background: #ece9d8;
}

html, body {
    height: 100%;
}

#app {
    height: 100%;
}

.karla {
    font-family: 'Karla', sans-serif;
}

.backdrop {
    background: #23221d;
}

.logs {
    width: 400px;
    padding-top: 21px;
    padding-bottom: 9px;
}

.no-outline:focus-visible {
    outline: none;
}